*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;

}
h1{
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    left: 60%;
    z-index: 1000;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    border-radius: 14px;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.2);
    transition: .3s all ease-in-out;
}
nav ul{
    display: flex;
    gap: 45px;
    padding: 20px 30px;
    transition: .1s all ease-in-out;

}
nav li{
    list-style: none;
    transition: .1s all ease-in-out;
}
nav li:hover{
    border-bottom: 2px solid black;
}
nav a:focus{
    border-bottom: 2px solid black;
    /* outline: 2px solid black; */
}
/* nav li:first-child{
    border-bottom: 2px solid black;
} */
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    transition: .1s all ease-in-out;
    cursor: pointer;
    /* position: fixed; */
    /* top: 0; */
}
#first-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}
.detail-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    gap: 10px;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 30px;
}
p#devop{
    padding: 10px 0px;
    line-height: 30px;
    font-size: 18px;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    margin: 90px 0px 0px 0px;
    transition: .3s all ease-in-out;

}
.profile-img img:hover{
    transform: scale(1.1);
}
.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.button-section button{
    padding: 14px 25px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    margin-top: 20px;
}
.button-section button:hover{
    transform: scale(1.1);
    
}

ion-icon{
    font-size: 18px;
    vertical-align: middle;
    margin-left: 8px;
    
   
}
h2.about-me{
    text-align: center;
    margin-bottom: 30px;
}
#about{
    line-height: 35px;
    gap: 20px;
    margin: 55px auto 50px auto;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    border: 2px solid transparent;
    height: 580px;
    width: 73%;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.2);
    border-radius: 14px;
}
span.quotes{
    display: flex;
    /* padding-top: 18px; */
    margin: 18px auto 0px auto;
    justify-content: center;
    color: transparent;
    color: transparent;
    background-image: linear-gradient(90deg, #1d5194, #2F80ED, #2D9EE0);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    width: 90%;
    text-align: center;
    align-items: center;
}
.hobby-sec{
    display: flex;
    justify-content: space-around;
    
}
.hobby-sec a{
    border: 2px solid transparent;
    height: 38px;
    width: 80px;
    border-radius: 12px;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.2);
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: .3s all ease-in-out;
    margin-top: 100px;
}
h5{
    text-align: center;
    position: absolute;
    font-size: 26px;
}
.hobby-sec a:hover{
    transform: scale(1.1);
}
#Skills{
    margin-bottom: 120px;
}
h1.skill{
    text-align: center;
    margin-top: 101px;
    margin-bottom: 121px;
}
.skill-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.skill-icons li{
    font-size: 50px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
#html{
    height: 130px;
    width:  130px;
    color: orangered;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;
    fill:box-shadow; 1px 2px 15px rgba(0,0,0,0.2);

}
#css{
    height: 130px;
    width:  130px;
    color: blue;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;

}
#js{
    height: 150px;
    width:  110px;
    color: yellow;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;

}
#figma{
    height: 130px;
    width:  130px;
    color: #A259FF;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;

}
#react{
    height: 130px;
    width:  130px;
    color: #61DAFB;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;

}
#git{
    height: 130px;
    width:  130px;
    color: #F05032;
    backdrop-filter: blur(15px);
    border: 2px solid transparent;
    transition: .3s all ease-in-out;

}
#html:hover, #css:hover, #js:hover, #figma:hover, #react:hover, #git:hover{
    transform: scale(1.2);
}
.skill-text ul{
    border: 2px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    list-style: none;
    margin: 14px 0px 0px 14%;
    width: 73.5%;
}
.skill-text li{
    font-size: 19px;
    font-weight: 500;
    
}
#projects{
    margin-bottom: 120px;
}
.project{
    text-align: center;
    margin-bottom: 100px;
}
.project-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.project-box img{
    width: 350px;
    height: 350px;
    border: 2px solid transparent;
    transition: transform .3s ease-in-out, filter .28s ease-in-out;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    border-radius: 14px;
    cursor: pointer;
   
}
.portfolio-one{
    position: relative;
    top: -35px;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px 30px;
    background-color:  #2F80ED;
    border: 2px solid transparent;
    backdrop-filter: blur(15px);
    font-size: 18px;
    font-weight:500;
    color:whitesmoke ;
    border-radius: 25px;
    opacity: 0;
    transition: .3s all ease-in-out;
}
/* Blur the project image when hovering the project container (covers hovering the image or the Visit button) */
.project1:hover img,
.project1:focus-within img{
    transform: scale(1.1);
    filter: blur(4px);
}

/* Show and move the Visit button into view when hovering the project container */
.project1:hover .portfolio,
.project1:hover .portfolio-one{
    opacity: 1;
    transform: translateY(-100px);
}

.contacts{
    text-align: center;
    margin: 100px 0px 120px 0px;
}
.contact-form{
    border: 2px solid transparent;
    height: 180px;
    width: 400px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
}
.email-two{
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    
}
.mail-icons{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
    /* border: 2px solid red; */
    border-radius: 100%;
    gap: 30px;
  
}
a.imaad-email{
    position: absolute;
    margin: 20px 0px 0px 20px;
    font-size: 18px;
    color: #1d5194;
    text-decoration: none;
    transition: .3s all ease-in-out;
}
button.send-email{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin: 20px auto 0px auto;
   border: 2px solid transparent;
   background-color: transparent;
   padding: 12px 18px ;
   border-radius: 15px;
   box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
   cursor: pointer;
   transition: .3s all ease-in-out;
   font-size: 16px;

}
button.send-email:hover{
    background-color: #2D9EE0;
    color: white;
}
.contact-form-two{
    border: 2px solid transparent;
    height: 180px;
    width: 400px;
    margin-top: 120px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
}
button.call-button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 12px 18px ;
    border-radius: 15px;
    box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .3s all ease-in-out;
    font-size: 16px;

}
button.call-button:hover{
    background-color: #2D9EE0;
    color: white;
}
a.imaad-phone{
    position: absolute;
    margin: 20px 0px 0px 20px;
    font-size: 18px;
    color: #1d5194;
    text-decoration: none;
    transition: .3s all ease-in-out;
}
.contact-form-Three{
    border: 2px solid transparent;
    height: 180px;
    width: 400px;
    margin-top: 120px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
}
button.send-location{
     text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto 0px auto; */
    margin-left: 60px;
    margin-top: 30px;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 12px 18px ;
    border-radius: 15px;
    box-shadow: 2px 3px 18px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .3s all ease-in-out;
    font-size: 16px;
}
button.send-location:hover{
    background-color: #2D9EE0;
    color: white;
}
.copyright{
  color: black;
  text-align: center;
  position: absolute;
  left: 0;
  margin: 110px auto 150px 0px;
  cursor: pointer;
  height: 60px;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
  transition: .3s all ease-in-out;

}
.copyright:hover{
    color: #A259FF;
}
.copyright p{
    font-size: 16px;
    padding: 20px 8px;
}